[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sadface = "*"
canary-am = {ref = "development", git = "https://github.com/chriswales95/Canary.git"}

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true