[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
canary-am = {path = "/Users/chris/Dev/napier/honours/Canary"}
celery = "*"
sadface = "*"

[dev-packages]

[requires]
python_version = "3.9"
